<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.component构造函数</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        关于VueComponent:
            1.schoole组件本质是一个名为VueComponent的构造函数，且不是程序员定义的，是Vue.extent生成的。
            2.我们只需要写<schoole/>或<schoole></schoole>,Vue解析时会帮我们创建schoole组件的实例对象。
              即Vue帮我们执行的：new VueComponent(options)。
            3.特别注意：每次调用Vue.extent,返回的都是一个全新的VueComponent！！！
            4.关于this指向：
                (1).组件配置中：
                    data函数，methods中的函数、watch中的函数、computed中的函数 他们的this均时【VueComponent实例对象】
                (2).new Vue(options)配置中：
                    data函数、methods中的函数、watch中的函数、computed中的函数 他们的this均是【Vue实例对象】
            5.VueComponent的实例对象，以后简写VC（亦可以称之为：组件实例对象）
              Vue的实例对象，以后简称vm.
     -->
     <!-- 准备一个容易 -->
     <div id="root">
        <schoole></schoole>
     </div>
</body>
<script>
    const schoole = Vue.extend({
        template: `
            <div>
                <h2>学校的名称：{{name}}</h2>
                <h2>学校的地址：{{address}}</h2>    
            </div>
        `,
        data() {
            return {
                name: '清华',
                address: '北京'
            }
        }
    });
    new Vue({
        el: '#root',
        components: {
            schoole
        }
    })
</script>
</html>